node_modules
dist
.git
.gitignore
.env
.env.local
.env.development
.env.test
# Permitir arquivo de produção no build Docker
!.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Dockerfile*
README.md
**/*.tsbuildinfo