services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_SUPABASE_URL: "https://xlchkwgfqosjrulphmrn.supabase.co"
        VITE_SUPABASE_ANON_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsY2hrd2dmcW9zanJ1bHBobXJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyNjA0MTMsImV4cCI6MjA3NTgzNjQxM30.mZGa_eMPzwt1XAgMSPHHVCGYh987wfKPVvvdvibwWJY"
    expose:
      - "80"